@page
@model RabbitBank.Pages.Transactions.DepositModel
@{
}



<div class="containerT">
    <div class="rowT" style="margin-bottom: -14%; ">
        <div class="col-md-6 offset-md-3">
            <div class="card" id="card">
                <div class="card-body" style="background-color: #212529;">
                    <h3 class="card-title" style="text-align: center; color: #FFC800; font-size: 40px;">Deposit</h3>
                    <form method="post" style="margin-top: 25px;">
                        <input type="hidden" asp-for="AccountId" />
                        
                        <div class="form-group" style="margin-top: 25px;">
                            <label asp-for="AccountId">Deposit To Account ID</label>
                            <input asp-for="AccountId" type="number" class="form-control" readonly>
                            <span asp-validation-for="AccountId" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group" style="margin-top: 25px;">
                            <label asp-for="Amount">Amount</label>
                            <input asp-for="Amount" type="number" class="form-control" placeholder="Enter amount">
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn" style="margin-top: 25px; background: #ffc800; color: aliceblue;">Submit</button>
                    </form>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="button" style="text-decoration: none;">
                    <button style="margin-bottom: 25px;" onclick="goBack()">

                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Go Back

                    </button>
                </a>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
            </div>
        </div>
    </div>
</div>