@page
@model RabbitBank.Pages.Customers.CustomerCardModel
@{
}


<section class="section about-section" id="about" style="margin-top: 100px; ">
    <div class="container">
        <div class="row align-items-center flex-row-reverse" id="card">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3>Customer Details</h3>

                    <div class="row about-list" style="color: aliceblue;">
                        <div class="col-md-6">
                            <div class="media">
                                <label style="color: #ffc800; font-size: 20px;">Name</label>
                                <p>Jonas åke</p>
                            </div>
                            <div class="media">
                                <label style="color: #ffc800; font-size: 20px;">Birthday</label>
                                <p>2000-01-01</p>
                            </div>
                            <div class="media">
                                <label style="color: #ffc800; font-size: 20px;">Gender</label>
                                <p>Male</p>
                            </div>
                            <div class="media">
                                <label style="color: #ffc800; font-size: 20px;">Email</label>
                                <p>JOnas.åke@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label style="color: #ffc800; font-size: 20px;">Phone</label>
                                <p>+46</p>
                            </div>
                            <div class="media">
                                <label style="color: #ffc800; font-size: 20px;">Country</label>
                                <p>SWEDEN</p>
                            </div>
                            <div class="media">
                                <label style="color: #ffc800; font-size: 20px;">City</label>
                                <p>STOCKHOLM</p>
                            </div>
                            <div class="media">
                                <label style="color: #ffc800; font-size: 20px;">Address</label>
                                <p>hästskon</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="~/assets/User-icon2-removebg-preview.png" title="" alt="">
                </div>
            </div>
        </div>

        <div class="buttons">
            <tr>
                <th>
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Deposit
                    </button>
                </th>
                <th>
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Withdraw
                    </button>
                </th>
                <th>
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Transfer
                    </button>
                </th>
                <th>
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> History
                    </button>
                </th>
            </tr>

        </div>

        <div class="counter">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2">1</h6>
                        <p class="m-0px font-w-600" style="color: aliceblue;">Customer ID</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2">1</h6>
                        <p class="m-0px font-w-600" style="color: aliceblue;">Account ID</p>
                    </div>
                </div>

                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <h6 class="count h2">190123 kr</h6>
                        <p class="m-0px font-w-600" style="color: aliceblue;">Balance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

